.bg {
  /* The image used */
  background-image: url("../../assets/bg5.jpg");


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;

}

.section{
  max-width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.672);
  padding: 2%;
  border-radius:5px;
  display: flex;
  box-shadow: 0 0 10px;
  height: 90%;
}

.section-right{
  width: 80%;
  float: left;
  height: auto;
  background-color: rgba(255, 255, 255, 0.761);
  padding-bottom: 2%;
}
.section-left{
  width: 25%;
  float: left;
  height: auto;
}

.locum{
  display: flex;
  width: 50%;
  float: left;
  height: auto;
}
.petty{
  display: flex;
  width: 50%;
  float: left;
  height: auto;
}

h2,h5{
  color: rgb(55, 98, 136);
}

.mat-tab-label {
  min-width: 5% !important;
  padding: 5px;
  background-color: transparent;
  color: rgb(116, 113, 113);
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 5% !important;
  padding: 5px;
  background-color: transparent;
  color: rgb(6, 114, 6);
  font-weight: 700;
}
.mat-ink-bar {
  background-color: gray;
}

.button {
  border-radius: 4px;
  background-color: rgb(25, 144, 199);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  left: 50%;
  /* width: 13%; */
}

.button:disabled {
  border-radius: 4px;
  background-color: #fcfcfc;
  border: none;
  color: #ffffff;
}


.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #1c83b3;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #1c83b3;
}

.mat-accent .mat-slider-track-fill {
  background: #1c83b3;
}

.mat-accent .mat-slider-thumb {
  background: #1c83b3;
}

mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}
