<div class="bg" style="height: calc(100vh);">
  <div class="wrapper">
    <div class="section">
      <div class="section-left">
        <form>
          <img style="transform: translateX(11%);" height="70%" width="70%" src='../../assets/Qualitas_logo.png'>
          <h2 style="position: center; font-weight: bold;">E-Cash Collection Book Record</h2>
          <mat-form-field style="font-weight:bold;">
            <input matInput placeholder="Clinic name" value="{{clinicname}}" [disabled]="true">
          </mat-form-field>
          <mat-form-field style="font-weight:bold;">
            <input matInput placeholder="Username" value="{{username1}}" [disabled]="true">
          </mat-form-field>
          <mat-form-field style="font-weight:bold;">
            <input matInput placeholder="Date" value="{{TodayDate | date}}" [disabled]="true">
          </mat-form-field><br>
          <mat-form-field style="font-weight:bold;">
            <mat-label>Cash In Safe</mat-label>
            <input matInput type="initial" id="initial" value="RM {{MIS}}" [disabled]="true" appTwoDigitDecimaNumber>
            <button mat-icon-button matSuffix (click)="onCreate()">
              <mat-icon>info</mat-icon>
            </button>
          </mat-form-field>
          <!-- <mat-form-field>
            <mat-label>Till Money</mat-label>
            <input matInput type="id" id="tillmoney" name="tillmoney" value="RM 50" [disabled]="true">
          </mat-form-field> -->
          <mat-form-field style="font-weight:bold;">
            <mat-label>Locum Cash</mat-label>
            <input matInput type="initial" id="initial" value="RM {{LFC}}" [disabled]="true" appTwoDigitDecimaNumber>
          </mat-form-field>
          <mat-form-field style="font-weight:bold;">
            <mat-label>Petty Cash</mat-label>
            <input matInput type="id" id="id" name="id" value="RM {{CFC}}" [disabled]="true" appTwoDigitDecimaNumber>
          </mat-form-field>
        </form>

      </div>
      <div class="section-right" style="border-left-style: dotted;">
        <mat-tab-group style="margin-left: 2%; margin-right: 3%;" #matgroup>
          <mat-tab label="DAILY SALES">
            <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Success!</strong> Your data has been entered successfully.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <mat-tab-group style="margin-left: 1%;" [selectedIndex]="selected.value"
              (selectedIndexChange)="selected.setValue($event)">
              <mat-tab style="padding-top: 2%; width: 10%;" *ngFor="let tab of tabs; let index = index" [label]="tab">
                <form style="padding-top:2%; padding-left: 1%;">
                  <mat-form-field>
                    <input matInput #Date placeholder="Time" value="{{TodayDate | date:'medium'}}" [disabled]="true">
                  </mat-form-field>
                  <!-- <mat-label style="margin-left: 3%;" for=" healed">End of The Day?
                    <mat-slide-toggle (change)="onClosing()">
                    </mat-slide-toggle>
                  </mat-label> -->
                  <br>
                  <mat-form-field>
                    <input matInput #openingbalance type="number" id="opening" name="opening"
                      placeholder="Opening Sale">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput #CSV type="number" id="total" name="total" min="0" step="0.01"
                      placeholder="Sales Visit">
                  </mat-form-field>
                  <mat-form-field style="margin-left: 3%;">
                    <input matInput #CSI type="number" id="visit" name="visit" min="0" step="0.01"
                      placeholder="Sales Invoiced">
                  </mat-form-field>
                  <mat-form-field style="margin-left: 3%;">
                    <input matInput #CSR type="number" id="visit" name="visit" min="0" step="0.01"
                      placeholder="Sales Received">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <input matInput #COH required type="number" min="0" step="0.01" placeholder="Cash On Hand"
                      (change)="didModify(COH.value, CSR.value, openingbalance.value)">
                    <mat-hint>Please enter exclude Till Money</mat-hint>
                  </mat-form-field>
                  <mat-form-field style="margin-left: 3%;">
                    <input matInput type="number" id="visit" name="visit" min="0" step="0.01" value={{cashDiff}}
                      [disabled]="true" placeholder=" Sales Difference">
                  </mat-form-field>
                  <br>
                  <mat-form-field *ngIf="Diffalert" [style.width.%]=80>
                    <input matInput type="number" id="visit" name="visit" min="0" step="0.01" value={{DiffRemark}}
                      [disabled]="true" placeholder=" Sales Difference">
                  </mat-form-field>
                  <br>
                  <mat-form-field style="margin-top:3%; font-weight:bold;">
                    <input matInput type="id" id="received" name="received" placeholder="Closing Balance"
                      [disabled]="true" value="{{closingsale}}">
                  </mat-form-field>
                  <button mat-raised-button [disabled]="buttonclicked" class="button"
                    (click)="addTab(cliniccode, openingbalance.value, CSV.value, CSI.value,COH.value,username1)">
                    Save
                  </button>
                </form>
              </mat-tab>
            </mat-tab-group>
            <!-- <app-daily_sales></app-daily_sales> -->
          </mat-tab>
          <mat-tab label="RECORD EXPENSES">
            <div style="width: 100%; padding-top: 1%;">
              <mat-tab-group style="margin-left: 1%; margin-right: 3%;">
                <mat-tab label="Locum Cash Expenses">
                  <div style="padding-top: 2%;">
                    <app-locum_expenses></app-locum_expenses>
                  </div>
                </mat-tab>
                <mat-tab label="Petty Cash Expenses">
                  <div style="padding-top: 2%;">
                    <app-common_expenses></app-common_expenses>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-tab>
          <mat-tab label="REIMBURSEMENT & REQUISITION">
            <app-reimbursement_requisition></app-reimbursement_requisition>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
