<mat-tab-group style="margin-left: 1%;" [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)">
  <mat-tab style="padding-top: 2%; width: 10%;" *ngFor="let tab of tabs; let index = index" [label]="tab">
    <form style="padding-top:2%; padding-left: 1%;">
      <mat-form-field>
        <input matInput placeholder="Time" value="{{TodayDate | date:'medium'}}" [disabled]="true">
      </mat-form-field>
      <mat-label style="margin-left: 3%;" for=" healed">Closing?
        <mat-slide-toggle ngDefaultControl #selectAfterAdding (change)="onClosing()">
        </mat-slide-toggle>
      </mat-label>
      <br>
      <mat-form-field>
        <input matInput type="id" id="opening" name="opening" placeholder="Opening Balance">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="id" id="total" name="total" placeholder="Total Cash Sales">
      </mat-form-field>
      <mat-form-field style="margin-left: 3%;">
        <input matInput type="id" id="visit" name="visit" placeholder="Cash Sales Visit">
      </mat-form-field>
      <mat-form-field style="margin-left: 3%;">
        <input matInput type="id" id="invoiced" name="invoiced" placeholder="Total Cash Invoiced">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput required type="number" id="received" name="received" min="0" step="0.01"
          placeholder="Cash On Hand">
        <mat-hint>Please enter including Till Money</mat-hint>
      </mat-form-field>
      <mat-form-field style="margin-left: 3%;">
        <input matInput type="id" id="tillmoney" name="tillmoney" placeholder="Total Till Money" value="RM 50"
          [disabled]="true">
      </mat-form-field><br>
      <mat-form-field style="margin-top:3%; font-weight:bold;">
        <input matInput type="id" id="received" name="received" placeholder="Amount Should Bank In">
      </mat-form-field>
    </form>
    <button mat-raised-button [disabled]="buttonclicked" class="button" (click)="addTab()">
      Save
    </button>
  </mat-tab>
</mat-tab-group>
