.button {
  border-radius: 4px;
  background-color: rgb(25, 144, 199);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  left: 50%;
  /* width: 13%; */
}

.button:disabled {
  border-radius: 4px;
  background-color: #fcfcfc;
  border: none;
  color: #ffffff;
}
