<form [formGroup]="locumexpenses">
  <mat-form-field style="margin-left: 3%; width: 32%">
    <input matInput type="id" id="docname" formControlName="docname" name="docname" placeholder="Doctor Name" value="">
  </mat-form-field>
  <mat-form-field style="margin-left: 3%;">
    <input matInput type="id" id="ic" name="ic" formControlName="icnumber" placeholder="Ic Number" value="">
  </mat-form-field>
  <mat-form-field style="margin-left: 3%;">
    <input matInput type="number" id="payment" formControlName="totalpayment" name="payment" placeholder="Total Payment"
      value="">
  </mat-form-field><br>
  <mat-form-field style="margin-left: 3%; width: 80%;">
    <input matInput type="id" id="payment" formControlName="remark" name="remark" placeholder="Remark" value="">
  </mat-form-field>
  <button mat-raised-button style="margin-left: 5%;" (click)="addLocum()">
    Save
  </button>
</form>
<table style="padding-top: 1%; margin-left: 3%; margin-right: 3%; max-width: 95%;"
  class="table table-striped table-responsive-md btn-table">
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th>Ic Number</th>
      <th>Total Payment</th>
      <th>Remark</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listdata">
      <td><span>{{item.docname}}</span></td>
      <td><span>{{item.icnumber}}</span></td>
      <td><span>{{item.totalpayment}}</span></td>
      <td><span>{{item.remark}}</span></td>
      <td><span><button type="button" class="btn btn-primary" (click)="removeItem(item)">Reset</button></span></td>
    </tr>
  </tbody>
</table>
